/node_modules
/web/source/public/hot
/web/source/public/storage
/web/source/storage/*.key
/vendor
/web/source/.idea
/web/source/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/web/source/vendor/